body {
    background-color: #71C9CE;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #070707;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #0b9097;
    color: #eefafa;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #42a7a7;
}