*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E3FDFD;
}

img{
    width: 100%;
    border-radius: 2px;
}

.navegacion{
    width: 100%;
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #71C9CE;
    margin: auto;
}

.carrito{
    width: 30px;
}

.search-icon{
    width: 30px;
    margin: 10px;
}

.menu{
    width: 30%;
}

.menu button{
    margin-left: 100px;
    padding: 10px 40px;
    background-color: #A6E3E9;
    border: 1px solid #A6E3E9;
    border-radius: 5px;

}

.search{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barra{
    width: 600px;
    padding: 10px 20px;
    border-radius: 15px;
    border-style: none;
    background-color: #A6E3E9;
}

.barra-search{
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
  }
  
  .menu button {
    
   
  background-color: transparent;
    border: none;
    cursor: pointer;
  }
