/* Estilos para el cuerpo del documento */
/* <!-- Eduardo Escares --> */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  

  

        /* Estilos para el footer */
        footer {
            background-color: rgb(113, 201, 206);
            color: white;
            padding: 20px;
            display: flex; /* Usar Flexbox para colocar los elementos en paralelo */
            justify-content: space-between; /* Distribuir los elementos en el espacio disponible */
        }

        /* Estilos para los contenedores dentro del footer */
        footer .container {
            flex: 1; /* Hacer que los contenedores se expandan para ocupar el espacio disponible */
            margin: 0 10px; /* Agregar margen entre los contenedores */
            margin-left: 210px;
        }