/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A6E3E9;
}

header {
    background-color: #71C9CE;
    color: #fff;
    padding: 20px;
    display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
    justify-content: space-between; /* Espaciado uniforme entre elementos */
    align-items: center; /* Alinea verticalmente al centro */
}

.logo img {
    max-width: 60px; /* Establece el ancho máximo del logotipo */
    margin-right: 20px; /* Añade un pequeño margen entre el logotipo y el título */
}


.login-register {
    display: flex;
    gap: 20px;
}

.login-register a {
    text-decoration: none;
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Mueve los elementos a la derecha */
.header-right {
    margin-left: auto;
}



.login-register a {
    text-decoration: none;
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
/* Estilos para la barra de búsqueda */
.search-bar {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    align-items: center; /* Centra verticalmente los elementos */
    margin-top: 20px; /* Ajusta el espaciado superior según sea necesario */
}

/* Estilos para el campo de búsqueda y el botón */
#search-input {
    padding: 5px; /* Espaciado interno para el campo de búsqueda */
    margin-right: 10px; /* Espacio entre el campo de búsqueda y el botón */
}

#search-button {
    background-color: #007bff; /* Color de fondo del botón (cambia según tu diseño) */
    color: #fff; /* Color de texto del botón */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.contenedor1 {
    flex: auto;
    margin: 10px;
    padding: 10px;
}

.product-image-container {
    background-color: #E3FDFD;
    text-align: center;
    position: relative;
    overflow: hidden;
    border: 8px solid #A6E3E9;
    width: 300px; /* Ancho deseado de la caja de la imagen */
    height: 300px; /* Altura deseada de la caja de la imagen */
}

/* Estilo de la imagen dentro de la caja */
.product-image-container img {
    width: 60%; /* La imagen ocupa todo el ancho de su contenedor */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
    transition: transform 0.3s; /* Transición para el efecto de zoom */
}

/* Efecto de zoom al pasar el cursor sobre la imagen */
.product-image-container:hover img {
    transform: scale(1.1); /* Ajusta el valor para el zoom deseado */
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    grid-template-rows: repeat(2, 1fr); /* Dos filas de igual tamaño */
    gap: 20px; /* Espacio entre las imágenes */
    justify-content: center; /* Alinea las imágenes a la derecha */
}


  

        /* Estilos para el footer */
        footer {
            background-color: rgb(113, 201, 206);
            color: white;
            padding: 50px;
            display: flex; /* Usar Flexbox para colocar los elementos en paralelo */
            justify-content: space-between; /* Distribuir los elementos en el espacio disponible */
        }

        /* Estilos para los contenedores dentro del footer */
        footer .container {
            flex: 1; /* Hacer que los contenedores se expandan para ocupar el espacio disponible */
            margin: 0 10px; /* Agregar margen entre los contenedores */
            margin-left: 20px;
            background-color: #CBF1F5;
            padding: 15px 20px;
            border-radius: 10px;
            
        }