*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(15, 136, 138);
}

.icon{
    width: 50px;
}

a{
    text-decoration: none;
}

ul{
    gap: 10px;
}

li{
    list-style: none;
}

.btn_init{
    color: white;
    background-color: rgb(5, 85, 85);
    padding: .5em .7em;
    border-radius: 20px;
    font-weight: bold;
}

.btn_reg{
    color: white;
    background: none;
    padding: .3em .7em;
    border-radius: 20px;
    border: 3px solid rgb(205, 241, 241);
}

.registro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}


.si{
    background-color: rgb(3, 125, 125);
    box-shadow: 0 4px 7px rgba(0 0 0 / .4);
}
.inicio{
    margin: auto 0;
    display: flex;
}

.navbar-toggler {
    box-shadow: 0 4px 7px rgba(0 0 0 / .2);
}

.hero_img{
    width: 100%;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.six{
    width: 100%;
}
  
.herox{
    height: 100vh;
    background-image: url('hero_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero_texts{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 600px;
    width: 40%;
    margin-left: 50px;
}

h1{
    font-size: 4.5em;
    font-weight: bold;
}

p{
    margin-block: 20px;
    font-size: 1.4em;
    color: black;
}

.boton{
    background-color: rgb(3, 100, 100);
    padding: .2em 3em;
    border-radius: 25px;
    border: none;
    box-shadow: 0 5px 7px rgba(0 0 0 / .4);
    font-size: 1.3em;
    font-weight: bold;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.caca{
    display: flex;
    gap: 10px;
}


.card{
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0 0 0 / .5);
    background-color: rgb(62, 176, 176);
}
.card-body{
    padding: 25px;
    margin-top: -15px;
}

.card-text{
    font-size: 1.2em;
}


h3,h5{
    color: rgb(3, 110, 124);
    font-weight: bold;
}

.btn_producto{
    background-color: rgb(105, 214, 214);
    font-weight: bold;
    border: none;
    padding: .5em 2em;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0 0 0 / .5);
}

.btn_producto:hover{
    background-color: rgb(62, 194, 194);
}

.form{
    display: flex;
    align-items: center;
    gap: 50px;
}

i{
    font-size: 2em;
    cursor: pointer;
}

.lupa{
    font-size: 1.8em;
    cursor: pointer;
}

.barra{
    display: flex;
}

.bar{
    width: 550px;
    background-color: rgb(68, 187, 187);
    border: none;
}

.nav_custom{
    background-color: rgb(110, 217, 222);
    box-shadow: 0 1px 15px rgba(0 0 0 / .4);
    border-radius: 3px;
}