*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    color: rgb(23, 22, 39);
    font-family: sans-serif;
    background-image: url('otro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main{
    display: flex;
    min-height: 100vh;
}

form{
    /*background-color: rgb(113, 170, 194);*/
    
    width: 90%;
    max-width: 400px;
    text-align: center;
    padding: 1.5em 2em;
    border-radius: 10px;
    box-shadow: 0 1px 7px rgba(0 0 0 / .5);
    margin-block: 50px;
    border: 3px solid lightblue;
    background: rgba(173, 216, 230, 0.200);
    margin-left: 200px;
}


.form-container{
    margin-top: 30px;
    display: grid;
    gap: .5em;
}

/*
.form-group{
    position: relative;
    margin-block: 5px;
}*/

.form-group{
    margin-block: 7px;
}

.form-input{
    width: 100%;
    padding: .8em .3em;
    font-size: 1rem;
    outline: none;
    background: transparent;
    border: 2px solid lightblue;
    border-radius: 30px;
    box-shadow:  0px 1px 3px rgba(0 0 0 / .7);
    transition: all 0.4s ease;
}

.form-input::placeholder{
    color: rgb(72, 72, 72);
    font-size: 15px;
}


.form-input:hover{
    border-radius: 5px;
    box-shadow:  0px 4px 10px rgba(0 0 0 / .3);
    border: 2px solid rgb(0, 80, 109);
    background-color: rgba(173, 216, 230, 0.25);
    
}

/*
label{
    position: absolute;
    top: 13px;
    left: 13px;
    color: black;
    font-weight: 500;
}*/

label{
    display: flex;
    margin: 4px 10px;
    font-size: 1rem;
    font-weight: 600;
}

.nombres{
    width: 100%;
    display: flex;
    gap: 10px;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    margin-block: 10px;
}

img{
    width: 30%;
    position: relative;
    right: 110px;
    top: 0;
}


.checkbox{
    transform: scale(2);
}

.spam{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.spam p{
    text-align: start;
    margin-left: 10px;
    font-size: 14px;
}

.terminos{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}   

.terminos p{
    text-align: start;
    margin-left: 10px;
    font-size: 14px;
}

.form-boton{
    margin-block: 20px;
    padding-block: .7em;
    border-radius: 5px;
    border: none;
    background: rgb(0, 80, 109);
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 5px rgba(0 0 0 / .5);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.form-boton:hover{
    background-color: rgba(0, 80, 109, 0.6);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}

a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover{
    color: rgb(0, 80, 109);
    text-decoration: underline;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}